.article:hover {
   border: 1px solid rgb(229, 229, 255);
   background-color: #eeeeee;
   cursor: crosshair;
}

.editable {
	padding: 5px;
	border: 1px solid rgba(255,255,155,0.0)	
}

.editable:hover {
   border: 1px solid rgb(229, 229, 255);
   background-color: #eeeeee;
   cursor: crosshair;
}

.tiny {
   border: 1px solid rgb(229, 229, 255);
   background-color: #eeeeee;
   padding: 10px;
}

.tiny > p {
   margin-bottom: 5px;
}

.tiny:hover {
   cursor: text;
}